.details-main{
    .heading{
        h1{
            text-align: center ;
        }
    }
    .back{
        padding-left: 2%;
        padding-top: 20px;
    }
    .back-btn{
        background-color: rgb(19, 53, 13);
        padding: 7px 20px;
        text-decoration: none;
        color: white;
        border-radius: 6px;
    }
    .prodDetails{
        display: flex;
        width: 70%;
        margin: auto;
        margin-top: 30px;
    }
    .prodDetailsLeft{
        width: 40%
    }
    .prodDetailsRIght{
        width: 60%;
        padding-left: 25px;
        padding-top: 8%;
    }
    .prodDetailsLeft{
        .image{
            width: 100%;
            height: 400px;
            // background-color: red;
            overflow: hidden;
            border-radius: 7px;
        }
        img{
            width: 100%;
        }
    }
    .prodDetailsRIght{
        .name{
            font-size: 25px;
            font-weight: 800;
        }
        .description{
            font-size: 23px;
           color: grey;
        }
        button{
            background-color: rgb(235, 143, 13);
            border: none;
            color: white;
            width: 100%;
            height: 40px;
            border-radius: 6px;
        }
    }


    @media(min-width:300px) and (max-width:576px){
        .prodDetails{
            display: inline;
            width: 100% !important;
        }
        .prodDetailsLeft{
            width: 90%;
            margin: auto;
        }
        .image{
            height: 300px !important;
        }
        .prodDetailsRIght{
            width: 100%;
          padding: 20px;
            padding-top: 8%;
        }
       
    }
}